* {
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 0;
}

.sub-title, .sub-title2 {
  background-color: #ffbb00;
  color: #fff;
  display: inline-block;
  padding: 16px 20px;
  font-weight: 600;
}

.sub-title-1 {
  margin-bottom: 1px;
}

.sub-title2 {
  padding: 7px 16px;
}

.section-heading, .section-heading2 {
  background-color: #fff;
  color: #000;
  display: inline;
  line-height: 1.35;
  text-transform: uppercase;
  font-size: 6rem;
}

.section-heading2 {
  font-size: 4.5rem;
}

.section-description {
  color: #ffffff99;
  margin: 32px 0;
  font-size: 2.2rem;
}

.btn-primary {
  background-color: #ff5533;
  color: #fff;
  display: inline-block;
  padding: 22px 32px;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #fd6c4e;
  cursor: pointer;
}

.section2-wrap, .section3-wrap, .section4-wrap,
.section5-wrap, .section6-wrap, .section7-wrap, .footer {
  background-color: #000;
  width: 100%;
}

.text-center {
  text-align: center;
}

.logo-img {
  max-width: 100%;
  height: 80px;
}

.gym-header {
  border-bottom: 1px solid rgba(134, 134, 134, 0.322);
  color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

.nav-home, .nav-courses, .nav-pages, .section6-item-info {
  position: relative;
}

.nav-home-popup {
  display: none;
}

.nav-home-list {
  background-color: #000;
  border: 1px solid rgba(134, 134, 134, 0.322);
  display: flex;
  justify-content: space-between;
  padding: 30px 15px 10px 15px;
  list-style-type: none;
  position: absolute;
  top: 74px;
  left: -20px;
}

.nav-home:hover .nav-home-popup {
  display: block;
}

.nav-home::after {
  content: "";
  position: absolute;
  width: 161px;
  height: 53px;
  top: 36px;
  left: 0;
}

.nav-home-item {
  margin: 0 20px;
  text-align: center;
}

.nav-home-item-img {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.nav-home-item__link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-home-item__link:hover {
  color: #ffbb00;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

.nav-item {
  font-weight: 600;
  line-height: 60px;
}

.nav-courses::after {
  content: "";
  position: absolute;
  width: 161px;
  height: 53px;
  top: 36px;
  left: 0;
}

.nav-courses-list {
  position: absolute;
  background-color: #000;
  width: 230px;
  border: 1px solid rgba(134, 134, 134, 0.322);
  list-style-type: none;
  padding-left: 30px;
  top: 74px;
  left: -30px;
  display: none;
}

.nav-courses-item {
  line-height: 1;
  padding: 20px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-courses:hover .nav-courses-list, .nav-pages:hover .nav-pages-popup-wrap {
  display: block;
  animation: fadeIn ease-in 0.3s;
}

.nav-courses-item__link, .nav-pages-item__link, .nav-item__link {
  text-decoration: none;
  color: #fff;
}

.nav-courses-item__link:hover, .nav-pages-item__link:hover,
.nav-item__link:hover, .nav-item:hover, .nav-mobile-item__link:hover {
  color: #ffbb00;
  cursor: pointer;
}

.nav-pages-popup-wrap {
  position: absolute;
  background-color: #000;
  border: 1px solid rgba(134, 134, 134, 0.322);
  width: 600px;
  top: 74px;
  left: -320px;
  display: none;
}

.nav-pages::after {
  content: "";
  position: absolute;
  width: 161px;
  height: 53px;
  top: 36px;
  left: 0;
}

.nav-pages-item-title {
  display: block;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #5e5d5d59;
}

.nav-pages-popup {
  display: flex;
  justify-content: space-between;
}

.nav-pages-list {
  list-style-type: none;
  padding: 20px 30px;
  color: #fff;
  line-height: 1;
}

.nav-pages-item {
  padding: 24px 0px;
}

.header-search {
  position: relative;
  padding-top: 20px;
}

.btn-search {
  display: block;
  border: none;
  border-radius: 50%;
  padding: 14px 15px;
  position: absolute;
  right: 0;
  color: #BFBFBF;
  background-color: rgba(156, 156, 156, 0.411);
}

.btn-search:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nav-mobile {
  display: none;
}

.nav-btn {
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  background-color: rgba(156, 156, 156, 0.411);
  padding: 14px 18px;
  color: #BFBFBF;
  border-radius: 4px;
}

.nav-mobile-overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.nav-input {
  position: absolute;
  right: 0;
}

.nav-input:checked ~ .nav-mobile-overlay {
  display: block;
}

.nav-mobile-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  width: 300px;
  max-width: 100%;
  color: #fff;
  transform: translateX(100%);
}

.nav-input:checked ~ .nav-mobile-content {
  transform: translateX(0);
  transition: transform linear 0.3s;
}

.nav-mobile-close {
  font-size: 2rem;
  text-align: right;
  background-color: #1a1a1a;
  padding: 10px 30px;
  color: #666;
}

.nav-close:hover {
  cursor: pointer;
  color: #fff;
}

.nav-mobile-list {
  list-style-type: none;
}

.nav-mobile-item {
  margin: 10px 0;
  padding: 10px 0;
}

.nav-mobile-item__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.section1-wrap {
  background: url("../img/background-1.jpg");
  background-position: top center;
  background-size: cover;
  position: relative;
}

.section1-item {
  padding-top: 26.6rem;
  padding-bottom: 26.6rem;
  color: #fff;
}

.section1-info {
  color: #fff;
  border-bottom: 1px solid rgba(134, 134, 134, 0.322);
  border-top: 1px solid rgba(134, 134, 134, 0.322);
}

.section1-info-item {
  height: 350px;
  padding: 64px 30px;
  text-align: center;
  color: #ffffff99;
  line-height: 1;
}

.section1-info-inner {
  border-left: 1px solid rgba(134, 134, 134, 0.322);
}

.section1-info-item-quantity {
  font-size: 6rem;
  margin-bottom: 16px;
  font-weight: 600;
  color: #ffbb00;
}

.section1-info-item-heading {
  font-size: 2.4rem;
  color: #fff;
}

.section1-info-item-description {
  line-height: 1.6;
}

.row-section1-info .section1-info-inner:last-child {
  border-right: 1px solid rgba(134, 134, 134, 0.322);
}

.section2-item, .section4-item {
  color: #fff;
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.section2-item-img {
  width: 100%;
  padding-top: 60px;
}

.section2-item ul, .section4-item ul {
  list-style-type: none;
  padding: 0 0 20px 0;
}

.section2-item li, .section4-item li {
  margin: 10px 0;
}

.section2-icon {
  color: #ffbb00;
  font-size: 1.2rem;
  margin-right: 5px;
}

.section3-item {
  height: 600px;
  background-color: #1a1a1a;
  color: #fff;
  margin-top: 40px;
  display: block;
  text-decoration: none;
}

.section3-description, .section5-description {
  margin: 10px 0;
  padding: 0 200px;
}

.section3-avatar {
  height: 286px;
  position: relative;
}

.section3-stickers {
  position: absolute;
  background-color: #e93c4d;
  padding: 20px 20px;
  border-radius: 50%;
  right: -20px;
  top: 20px;
}

.sticker-sale {
  padding: 20px 15px;
  background-color: #ff5533;
}

.section3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3-info {
  text-align: center;
  padding: 0 16px 16px;
}

.section3-info h3 {
  font-size: 2rem;
  margin: 40px 0 20px 0;
}

.section3-price-old {
  margin-right: 6px;
  text-decoration: line-through;
  position: relative;
  top: -2px;
  color: #9e9e9e;
}

.section3-price-new {
  font-size: 2.4rem;
  color: #ffbb00;
}

.section3-courses {
  display: flex;
  justify-content: space-around;
}

.section3-courses-list {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0;
  color: #9e9e9e;
}

.btn-section3 {
  padding: 60px 0;
  text-align: center;
}

.section4-item-img {
  width: 100%;
  padding-top: 150px;
}

.section4-item h3 {
  color: #fff;
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: 0px;
}

.section5-item {
  color: #ffffff99;
  text-align: center;
  padding-top: 74px;
  padding-bottom: 120px;
}

.section5-item-description {
  background-color: #1a1a1a;
  height: 324px;
  padding: 80px 40px;
  margin-bottom: 32px;
  position: relative;
}

.section5-item-description::after {
  content: "";
  position: absolute;
  border-width: 8px 10px;
  border-color: #1a1a1a transparent transparent transparent;
  border-style: solid;
  bottom: -16px;
  left: 47%;
}

.section5-name {
  display: block;
  margin-top: 16px;
  color: #fff;
}

.section5-job {
  font-size: 1.3rem;
  color: #9e9e9e;
}

.section5-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.section6-item {
  color: #fff;
  padding: 64px 0;
  position: relative;
}

.section6-item-info-left {
  position: absolute;
  background-color: #000;
  padding: 64px;
  top: -60px;
}

.section6-item-img {
  width: 100%;
  height: auto;
}

.section6-item-info-label {
  margin-right: 20px;
  display: inline-block;
  color: #ffbb00;
}

.section6-item-info-header:hover, .section3-info h3:hover {
  color: #ff5533;
  cursor: pointer;
}

.section6-item-info-date {
  color: #Adb5bd;
}

.section6-item-rigth {
  padding-bottom: 16px;
  padding-top: 16px;
  border-left: 1px solid rgba(134, 134, 134, 0.322);
}

.boder-wrap {
  border-bottom: 1px solid rgba(134, 134, 134, 0.322);
  border-top: 1px solid rgba(134, 134, 134, 0.322);
}

.section7-subtitle span {
  color: #ff5533;
  background-color: #fff;
  padding: 4px 10px;
}

.section7-item {
  padding: 140px 0;
}

.section7-input {
  display: flex;
  justify-content: space-between;
  margin: 0 -4px;
  padding-top: 20px;
}

.input-name, .input-email {
  flex: 3;
  padding: 0 4px;
  background-color: #000;
  border: 1px solid rgba(134, 134, 134, 0.322);
  color: #ffffff99;
}

.section7-btn {
  flex: 1;
}

.section7-input-item {
  margin: 0 4px;
  line-height: 4px;
  width: 100%;
}

.section7-img {
  width: 100%;
  padding-top: 40px;
}

.footer-item h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

.social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-item {
  margin: 0 5px;
}

.social-item__link {
  text-decoration: none;
  color: #7d7d7d;
  background-color: #101010;
  padding: 12px 16px;
}

.social-item__link:hover {
  background-color: #706f6f;
  color: #fff;
}

.footer-item-right-heading {
  color: #fff;
  text-transform: uppercase;
}

.footer-item-right-text {
  color: #ffffff99;
}

.footer-item-right-s {
  margin-bottom: 60px;
}

.footer-item-right-text__link {
  text-decoration: none;
  color: #ffffff99;
  display: block;
  margin: 18px 0;
}

.footer-item-right-text__link:hover {
  color: #fff;
}

.footer-img {
  width: 100%;
  background-size: contain;
}

.footer-description {
  font-size: 1.9rem;
  color: #ffffff99;
  padding: 20px 20px 40px 0;
}

.footer-item-copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 1.9rem;
}

.footer-copyright {
  padding: 20px 0 120px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section1-info-inner {
    border-left: none;
  }

  .nav-home-list {
    left: -200px;
  }

  .btn-search {
    right: 70px;
  }

  .nav-mobile {
    display: block;
  }

  .section2-item, .section4-item {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section3-description, .section5-description {
    margin: 10px 0;
    padding: 0px;
  }

  .section4-item-img {
    padding-top: 0;
  }

  .section4-item {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section5-item {
    padding-bottom: 0;
  }

  .section6-header {
    padding-top: 40px;
  }

  .section6-item {
    padding: 160px 0;
  }

  .boder-wrap {
    border: none;
  }

  .section6-item-rigth {
    border-left: none;
  }
}
@media (max-width: 650px) {
  .sub-title, .sub-title2 {
    font-size: 1.4rem;
    padding: 7px 14px;
  }

  .section-heading, .section-heading2 {
    font-size: 3.2rem;
  }

  .section-description {
    font-size: 1.6rem;
  }

  .nav-mobile {
    display: block;
  }

  .section1-heading {
    font-size: 4rem;
  }

  .btn-section {
    text-align: center;
  }

  .btn-primary {
    font-size: 1.4rem;
    padding: 14px 47px;
  }

  .section1-item {
    padding-top: 19.6rem;
    padding-bottom: 10.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section2-item, .section4-item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .section3-item {
    padding: 0 10px;
  }

  .btn-search {
    display: none;
  }

  .nav-btn {
    right: 10px;
  }

  .section2-item-img {
    padding-top: 0;
  }

  .section3-description, .section5-description {
    margin: 10px 0;
    padding: 0 20px;
  }

  .section6-item-rigth {
    border-left: none;
  }

  .boder-wrap {
    border: none;
  }

  .section6-item-info-left {
    padding: 13px;
  }

  .section3-description, .section5-description {
    margin: 10px 0;
    padding: 0px;
  }

  .section6-item {
    padding: 158px 0;
  }

  .section7-input {
    flex-direction: column;
  }

  .section7-input-item {
    margin: 5px 4px;
    padding: 22px;
  }

  .section7-btn {
    padding: 0;
  }

  .section7-input-link {
    padding: 22px 40px;
    font-size: 1.6rem;
  }

  .section4-item-img {
    padding: 0;
  }

  .section4-item {
    padding: 20px;
  }

  .section5-item {
    padding-bottom: 20px;
  }

  .section7-item {
    padding: 70px 0;
  }

  .footer-copyright {
    padding: 20px 0px;
    margin: 0 16px;
  }
}

/*# sourceMappingURL=main.css.map */
